<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <title>新书推荐</title>
  <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
  <link rel="stylesheet" th:href="@{/css/AdminLTE.css}">
  <link rel="stylesheet" th:href="@{/css/pagination.css}">
  <script th:src="@{/js/jquery.min.js}"></script>
  <script th:src="@{/js/bootstrap.js}"></script>
  <script th:src="@{/js/pagination.js}"></script>
  <script th:src="@{/js/my.js}"></script>
</head>
<body class="hold-transition skin-red sidebar-mini">
<!--数据展示头部-->
<div class="box-header with-border">
  <h3 class="box-title">新书推荐</h3>
</div>
<!--数据展示头部-->
<!--数据展示内容区-->
<div class="box-body">
  <!-- 数据表格 -->
  <table id="dataList" class="table table-bordered table-striped table-hover dataTable text-center">
    <thead>
    <tr>
      <th class="sorting_asc">图书名称</th>
      <th class="sorting">图书作者</th>
      <th class="sorting">出版社</th>
      <th class="sorting">标准ISBN</th>
      <th class="sorting">书籍状态</th>
      <th class="sorting">借阅人</th>
      <th class="sorting">借阅时间</th>
      <th class="sorting">预计归还时间</th>
      <th class="text-center">操作</th>
    </tr>
    </thead>
    <tbody>
      <tr th:each="book:${page.list}">
        <td th:text="${book.bookName}"></td>
        <td th:text="${book.bookAuthor}"></td>
        <td th:text="${book.bookPress}"></td>
        <td th:text="${book.bookIsbn}"></td>
        <td th:switch="${book.bookStatus}">
          <span th:case="0">可借阅</span>
          <span th:case="1">借阅中</span>
          <span th:case="2">归还中</span>
        </td>
        <td th:text="${book.bookBorrower}"></td>
        <td th:text="${book.bookBorrowtime}"></td>
        <td th:text="${book.bookReturntime}"></td>
        <td class="text-center">
            <button th:if="${book.bookStatus=='0'}" type="submit"
                    class="btn bg-olive btn-xs" data-toggle="modal" data-target="#borrowModal"
                    th:onclick="'borrowBookById('+${book.bookId}+')'"> 借阅
            </button>
            <button th:if="${book.bookStatus =='1'||book.bookStatus =='2'}"
                    type="button" class="btn bg-olive btn-xs" disabled="disabled">借阅
            </button>
        </td>
      </tr>
    </tbody>
  </table>
  <!-- 数据表格 /-->
</div>
<div style="border-bottom: pink 2px solid;text-align: right;padding-right: 30px">
  <a th:if="${page.hasPreviousPage}" th:href="@{/book/selectNewbooks/1}">首页</a>
  <a th:if="${page.hasPreviousPage}" th:href="@{'/book/selectNewbooks/'+${page.prePage}}">上一页</a>
  <span th:each="num : ${page.navigatepageNums}" >
    <a th:if="${page.pageNum==num}" style="color: red" th:href="@{'/book/selectNewbooks/'+${num}}" th:text="'['+${num}+']'"></a>
    <a th:if="${page.pageNum!=num}" th:href="@{'/book/selectNewbooks/'+${num}}" th:text="${num}"></a>
  </span>
  <a th:if="${page.hasNextPage}" th:href="@{'/book/selectNewbooks/'+${page.nextPage}}">下一页</a>
  <a th:if="${page.hasNextPage}" th:href="@{'/book/selectNewbooks/'+${page.pages}}">尾页</a>
</div>

<!--<iframe width="100%" id="zbj" name="zbj"-->
<!--        frameborder="0" th:src="@{/book/to/book_modal/1}"></iframe>-->
<!--</iframe>-->
</body>
<script>
  //查询id对应的图书信息，并将图书信息回显到编辑或借阅的窗口中
  function borrowBookById(id) {
    window.location.href='http://localhost:8080/ssm02/book/to/book_modal/'+id;
  }

</script>
</html>