<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
    namespace: 名称空间
-->
<mapper namespace="com.ssm.mapper.UserMapper">


    <select id="login" parameterType="user" resultType="user">
        select * from user
        where user_name=#{userName}  and user_password=#{userPassword}

    </select>
    <select id="getUserByName" resultType="user">
        select * from user where user_name=#{userName}
    </select>
</mapper>